.box-main-home {
    height: 90%;
    width: 100%;
    background-color: var(--color-background-children);
    padding-left: 2vh;
    padding-right: 2vh;
    gap: 3vh;
    display: flex;
    flex-direction: column;
}

.box-item-count-home {
    width: 20%;
    background-color: var(--color-grey);
    padding: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    border-radius: 1vh;
}

.box-title-icon-count-home {
    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.text-value-count-item-home {
    color: white;
    font-weight: bold !important;
    font-size: 40px !important;
}

.box-percent-count-home {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 3px;
    height: fit-content;
}

.box-text-percent-home {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    align-items: center;
}

.box-chart-count-home {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box-chart-home {
   width: 100%;
   height: 77%;
   display: flex;
   flex-direction: row;
   gap: 2vh;
}

.box-chart-product {
    width: 60%;
    height: 70%;
    background-color: var(--color-grey);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-chart-group {
    width: 40%;
    height: 70%;   
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.box-chart-category {
    width: 100%;
    height: 60%;
    background-color: var(--color-grey);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.box-chart-bill {
    width: 100%;
    height: 40%;
    background-color: var(--color-grey);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.css-rbklcn-MuiResponsiveChart-container {
    width: 50%;
}
