.drawer-menu .MuiDrawer-paper {
    background-color: var(--background-menu);
    color: var(--color-text-menu);
}

.box-logo-menu {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
}

.text-logo-menu {
    font-weight: bold !important;
    color: white;
    font-size: larger !important;
}

.ico-logo-menu {
    color: var(--color-purple);
    width: 20% !important;
    height: 50% !important;
}

.ico-menu-item {
    color: var(--color-text-menu) !important;
}

.drawer-menu .MuiDrawer-paper {
    width: 300px !important;
}

.box-main-menu {
    display: flex;
}

.drawer-menu {
    width: 240px !important;
    flex-shrink: 0 !important;
}

.drawer-menu .MuiDrawer-paper {
    box-sizing: border-box !important;
}

