.drawer-menu .MuiDrawer-paper {
    background-color: var(--background-menu);
    color: var(--color-text-menu);
    padding-left: 5vh;
    padding-right: 5vh;
}

.box-logo-menu {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    gap: 2vh;
}

.box-menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-logo-menu {
    font-weight: bold !important;
    color: white;
    font-size: larger !important;
}

.ico-logo-menu {
    color: var(--color-purple);
    width: 30% !important;
    height: 60% !important;
}

.ico-menu-item {
    color: var(--color-text-menu) !important;
}

.ico-menu-item-active {
    color: var(--color-purple) !important;
}

.text-menu-active {
    color: var(--color-purple) !important;
    font-weight: bold !important;
}

.drawer-menu .MuiDrawer-paper {
    width: 100%;
    position: absolute;
}

.box-main-menu {
    display: flex;
    width: 18%;
    position: relative;
}

.drawer-menu .MuiDrawer-paper {
    box-sizing: border-box !important;
}

.css-1gtchvp-MuiPaper-root {
    background-color: #0B1739 !important;
    height: 4vh;
}

.paper-search-menu {
    display: flex;
    flex-direction: row;
    color: var(--color-text-menu);
    border: 0.5px solid var(--color-text-menu);
    opacity: 0.5;
}

.link-menu {
    text-decoration: none;
    color: var(--color-text-menu) !important;
}

.box-main-master-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.box-main-children {
    display: flex;
    flex-direction: column;
    width: 82%;
}

.box-header {
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: var(--color-background-children);
    justify-content: space-between;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
}

.divider-menu {
    color: var(--color-text-menu) !important;
    border-color: var(--color-text-menu) !important;
    padding-top: 5vh;
}
